# --- Directories (Recursive) ---
# The trailing slash '/' ensures it matches directories only
.vscode/
.cph/

# --- Files (Recursive) ---
# The '**/' prefix explicitly tells Git "in any directory or subdirectory"
**/*.exe
**/*.json
**/*.txt


# --- Pattern Matching (Recursive) ---
# This matches any file or folder ending in "temp" or "test" anywhere in the tree
**/*temp*
**/*test*
**/*tes*

**/*.class*